body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.Blue-heading{
    color: Blue;
    font-size: 40px;
}
.Blue-heading4{
    color:Blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}


.half-width img{
    width:100%;
}

section{
    height: 500px;
    padding-bottom: 60px;
}


.first_img  {
  width: 29%;
  height:  10%;
  margin-left: 200%;

}

#second-profile{
    width: 29%;
    height:  10%;
    margin-right: 100%;
}
p{
    color: #1496BB;
}
.experience-border{
    box-shadow: 8px 8px 35px gray;
    border-radius: 8px;
    height: 60%;
    background-color: white;
}

#left-border{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#left-border2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
footer p{
    color: black !important;
    font-size: 14px;
}
